body, #root, .render_all_card, .all_body_card, .card_b{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav_on{
  width: 100%;
}
.mainApp{
  padding: .5em;
}
.render_all_card{
  flex-direction: row;
}
.card{
  width: 14em;
  height: 20em;
  margin: .4em;
}
.all_body_card{
  width: 100%;
  height: 100%;
  padding: 10px 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.img, .img_crd{
  width: 150px;
  height: 150px;
}
.card_b{
  width: 100%;
  padding: 0;
}
.describe{
  text-align: center;
} 

