@import url('./components/CSS/navigation/navbar.css');
@import url('./components/CSS/card/card.css');

body, #root, .render_all_card, .all_body_card, .card_b{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body{
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}
.wrapper{
  width: 100%;
}
.mainApp{
  padding: .5em;
}
.render_all_card{
  margin-top: 4em;
  flex-direction: row;
  background: linear-gradient(0deg, rgba(235,194,255,1) 15%, rgba(249,236,255,1) 85%, rgba(255,255,255,1) 100%);
}
